*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.desert{
    background: url(/Image/Desert.webp) no-repeat scroll center / cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    margin: 30px;
}
.desert1{
    background:url(/Image/Desert.webp) no-repeat scroll center / cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 2px solid #fff;

}
.hut{
    background: url(/Image/hut.jpg) no-repeat scroll center / cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    margin: 30px;
}
.hut1{
    background: url(/Image/hut.jpg) no-repeat scroll center / cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 2px solid #fff;
}
.palace{
    background: url(/Image/palces.jpg) no-repeat scroll center / cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    margin: 30px;
}
.palace1{
    background: url(/Image/palces.jpg) no-repeat scroll center / cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 2px solid #fff;

}


